<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527884979919-dj63o96211l4h1j9lj5cmu5hl3k8cgkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527884979919-dj63o96211l4h1j9lj5cmu5hl3k8cgkl</string>
	<key>API_KEY</key>
	<string>AIzaSyAfYFf0TXI29_oVe8jsJwmGNWqCsfefIIU</string>
	<key>GCM_SENDER_ID</key>
	<string>527884979919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivyis.pawlliapp</string>
	<key>PROJECT_ID</key>
	<string>pawlli-3c23e</string>
	<key>STORAGE_BUCKET</key>
	<string>pawlli-3c23e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527884979919:ios:a274e50ded6b4d7ae671ba</string>
</dict>
</plist>